<h1> Aircraft Queue </h1>


  <% @aircrafts.each do |aircraft| %>
    <div class="aircraft">
      <li>Queue:<%= aircraft.que_name %> </li>
      <li>Size:<%= aircraft.aircraft_size%> </li>
      <li>Type:<%= aircraft.aircraft_type %> </li>
    </div>
  <% end %>
