<h1> Aircraft Queue </h1>

<%= @aircrafts.each do |aircraft| %>
  <ol>
    <li>Queue:<%= aircraft.queue_name %> </li>
    <li>Type:<%= aircraft.aircraft_type %> </li>
    <li>Size:<%= aircraft.aircraft_size%> </li>
  </ol>  
  <% end %>
